body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

h1 {
  font-size: 1.2em;
}

#main {
  /*background-color: antiquewhite;*/
  margin: 0% 10% 0% 10%;
}

footer {
  margin-top: 60%;
}
